#content-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding: 1rem;
}

#events-list {
    margin: auto;
}

#prompt-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#prompt-container textarea {
    resize: none;
    width: 75%;
    height: 75%;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    width: 75%;
}

#example-and-clear-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-right: auto;
}

#example-workflow-button,
#submit-button {
    background-color: green;
}

#clear-button {
    background-color: red;
}

#example-workflow-button:hover,
#clear-button:hover,
#submit-button:hover {
    cursor: pointer;
}